<div class="header">
  <div class="nav">
    <div class="brand"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></div>
    <div class="links">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/about' | relative_url }}">About</a>
      <a href="{{ '/publications' | relative_url }}">Publications</a>
      <a href="{{ '/projects' | relative_url }}">Projects</a>
      <a href="{{ '/resume' | relative_url }}">Resume</a>
      <a href="{{ '/contact' | relative_url }}">Contact</a>
    </div>
  </div>
</div>
